@font-face {
    font-family: 'TT Norms Pro';
    src: url('fonts/TTNormsPro-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'TT Norms Pro';
    src: url('fonts/TTNormsPro-ExtraBoldItalic.ttf');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'TT Norms Pro';
    src: url('fonts/TTNormsPro-ExtraLightItalic.ttf');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: 'TT Norms Pro';
    src: url('TTNormsPro-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'TT Norms Pro';
    src: url('fonts/TTNormsPro-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'TT Norms Pro';
    src: url('fonts/TTNormsPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT Norms Pro';
    src: url('fonts/TTNormsPro-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'TT Norms Pro';
    src: url('fonts/TTNormsPro-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'TT Norms Pro';
    src: url('fonts/TTNormsPro-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'TT Norms Pro ExtraBlack';
    src: url('fonts/TTNormsPro-ExtraBlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'TT Norms Pro';
    src: url('fonts/TTNormsPro-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'TT Norms Pro';
    src: url('fonts/TTNormsPro-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'TT Norms Pro';
    src: url('fonts/TTNormsPro-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TT Norms Pro ExtraBlack';
    src: url('fonts/TTNormsPro-ExtraBlack.ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'TT Norms Pro';
    src: url('fonts/TTNormsPro-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'TT Norms Pro';
    src: url('fonts/TTNormsPro-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'TT Norms Pro';
    src: url('fonts/TTNormsPro-Black.ttf');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'TT Norms Pro';
    src: url('fonts/TTNormsPro-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}